<div class="container-md mt-1">
    <div class="row">
        <div class="col-9">
        </div>
        <div class="col-3">
            <a mat-raised-button color="primary" class="my-2" routerLink='/form'>Nový trvalý príkaz</a>
        </div>
    </div>
    <div class="row table-row">
        <table mat-table [dataSource]="orders" class="mat-elevation-z0 py-1">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element" class="bold"> 
                    <span> {{element.nextRealizationDate | date:'d MMM'}} </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element" class="center bold"> 
                    <span>{{ (-1) * element.amount  | currency:'EUR' }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> Info </th>
                <td mat-cell *matCellDef="let element">
                    <div class="container">
                        <div class="row">
                            <div class="col-9">
                                <h2 class="m-0">{{ element.name | uppercase }}</h2>
                                <span class="interval me-2">{{ element.interval }}</span>
                                <span>IBAN: {{ element.accountNumber | ibanFormat}}</span>
                            </div>
                            <div class="col-3 hide">
                                <a mat-raised-button color="primary" [routerLink]="['/form', element.standingOrderId]">Upraviť</a>
                                <a mat-raised-button color="primary" (click)="deleteStandingOrder(element.standingOrderId)">Zrušiť</a>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
    </div>
    <div class="row">
        <div class="col my-3">
            <h2 class="m-0 center">Počet trvalých príkazov: {{ orders.length }}</h2>  
        </div>
        <div class="col my-3" >
            <h2 class="m-0 center">Celková suma: {{ (-1) * totalSum | currency:'EUR'}}</h2>
        </div>
    </div>
</div>