$background-color: #bab1f0;
$text-color: #2f2570;
$border: 1px solid rgba(0, 0, 0, 0.12);

.container-md{
    background-color: $background-color;
    color: $text-color;
}

.table-row{
    background-color: white;
    border: $border;
}

.mat-column-date{
    border-right: $border;
    border-left: $border;;
    border-top: $border;
}

.mat-column-amount{
    border-right: $border;
    border-left: $border;
    border-top: $border;
}

.mat-column-info{
    border-top: $border;
}

.mat-column-info a{
    transform: scale(0.7);
}

.interval{
    background-color: #5b5775;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    font-size: small;
}

.mat-row:nth-child(odd){
    background-color: #adadadae;
}

.hide {
    visibility: hidden;
}

td:hover .hide{
    visibility: visible;
}



