<div class="container">
    <div class="container"> 
        <mat-toolbar>
            <mat-toolbar-row>
                <mat-card-title>
                    Prehľad trvalých príkazov
                </mat-card-title>
            </mat-toolbar-row>
            <mat-toolbar-row>
                Trvalé príkazy sú ideálne, keď potrebujete pravidelne...
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="container">
        <br>
        <div class="container"> 
             <div class="row">
                <mat-toolbar>
                        <div class="col-9">
                        </div>
                        <div class="col-3">
                            <button mat-raised-button color="primary">Nový trvalý príkaz</button>
                        </div>
                </mat-toolbar>
            </div>
        </div>
        <div class="container">
                <table mat-table [dataSource]="orders" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.nextRealizationDate}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="periodity">
                        <th mat-header-cell *matHeaderCellDef> Periodity </th>
                        <td mat-cell *matCellDef="let element"> {{element.interval}} </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                  </table>
            
        </div>
        <div class="container">
            <div class="row">
                <mat-toolbar>
                        <div class="col">
                            Počet trvalých príkazov: X
                        </div>
                        <div class="col">
                            Celková suma: Y
                        </div>
                </mat-toolbar>
            </div>
        </div>
    </div>
</div>