<form [formGroup]="periodicity">
    <mat-form-field appearance="fill" class="px-1">
        <mat-label>Periodicita</mat-label>
        <mat-select formControlName="intervalId" (selectionChange)="changePeriodicity()">
            <mat-option *ngFor="let interval of intervals" [value]="interval.value">
                {{interval.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="px-1">
        <mat-select formControlName="intervalSpecification">
            <mat-option *ngFor="let option of intervalSpecification" [value]="option.value">
                {{ option.text }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>