<div class="container-sm mt-1 p-4">
    <form class="example-form" [formGroup]='standingOrderForm'>
        <mat-form-field [appearance]="appereance" class="px-1">
            <mat-label>Príjemca</mat-label>
            <input matInput placeholder="Meno Priezvisko" formControlName='name'>
        </mat-form-field>
        <mat-form-field [appearance]="appereance" class="px-1">
            <mat-label>IBAN</mat-label>
            <input matInput formControlName='accountNumber'>
            <mat-error *ngIf="controls.accountNumber.hasError('required')">IBAN musí byť zadaný</mat-error>
            <mat-error *ngIf="controls.accountNumber.hasError('pattern')">IBAN musí byť vo formáte: XX0000000000000000000000</mat-error>
        </mat-form-field>
        <mat-form-field [appearance]="appereance" class="px-1">
            <mat-label>Suma</mat-label>
            <input matInput formControlName='amount' type="number">
            <mat-icon matSuffix>euro</mat-icon>
            <mat-error *ngIf="controls.amount.hasError('required')">Suma je potrebná</mat-error>
        </mat-form-field>
        <mat-form-field [appearance]="appereance" class="px-1">
            <mat-label>Variabilný symbol</mat-label>
            <input matInput formControlName='variableSymbol'>
        </mat-form-field>
        <mat-form-field [appearance]="appereance" class="px-1">
            <mat-label>Konštantný symbol</mat-label>
            <input matInput formControlName='constantSymbol'>
        </mat-form-field>
        <mat-form-field [appearance]="appereance" class="px-1">
            <mat-label>Špecifický symbol</mat-label>
            <input matInput formControlName='specificSymbol'>
        </mat-form-field>
        <periodicity-form formControlName="period"></periodicity-form>
        <mat-form-field [appearance]="appereance" class="px-1" >
            <mat-label>Poznámka pre príjemcu</mat-label>
            <textarea matInput formControlName='note'></textarea>
        </mat-form-field>
        <mat-form-field [appearance]="appereance" class="px-1">
            <mat-label>Začiatok účinnosti</mat-label>
            <input matInput [matDatepicker]="picker" [min]="getMinDate()" formControlName="validFrom">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-error *ngIf="controls.validFrom.hasError('required')">Dátum musí byť zadaný</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
    <div class="buttons mt-2">
        <button mat-raised-button color="primary" class="mx-2" (click)="printForm()">Uložiť</button>
        <button mat-raised-button color="primary" class="mx-2" (click)="goToParentPage()">Zahodiť</button>
    </div>
</div>